<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog_dangle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,83}</string>
                <key>spriteSourceSize</key>
                <string>{20,83}</string>
                <key>textureRect</key>
                <string>{{25,1},{20,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_dangle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,83}</string>
                <key>spriteSourceSize</key>
                <string>{20,83}</string>
                <key>textureRect</key>
                <string>{{1,362},{20,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_dangle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,83}</string>
                <key>spriteSourceSize</key>
                <string>{20,83}</string>
                <key>textureRect</key>
                <string>{{23,362},{20,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_dangle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,83}</string>
                <key>spriteSourceSize</key>
                <string>{21,83}</string>
                <key>textureRect</key>
                <string>{{1,22},{21,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_dangle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,83}</string>
                <key>spriteSourceSize</key>
                <string>{21,83}</string>
                <key>textureRect</key>
                <string>{{24,86},{21,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_dangle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,83}</string>
                <key>spriteSourceSize</key>
                <string>{21,83}</string>
                <key>textureRect</key>
                <string>{{1,107},{21,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_dangle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,83}</string>
                <key>spriteSourceSize</key>
                <string>{21,83}</string>
                <key>textureRect</key>
                <string>{{24,171},{21,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_dangle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,83}</string>
                <key>spriteSourceSize</key>
                <string>{21,83}</string>
                <key>textureRect</key>
                <string>{{1,192},{21,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_dangle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,83}</string>
                <key>spriteSourceSize</key>
                <string>{21,83}</string>
                <key>textureRect</key>
                <string>{{24,256},{21,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_dangle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,83}</string>
                <key>spriteSourceSize</key>
                <string>{21,83}</string>
                <key>textureRect</key>
                <string>{{1,277},{21,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dog_walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{24,341},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dog.png</string>
            <key>size</key>
            <string>{46,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8f618aa6555bec86fbf17baa5f80be6:3da189eb3e431b961dc1e8b956bc1c52:d4a7d43944db94624838716d30efa568$</string>
            <key>textureFileName</key>
            <string>dog.png</string>
        </dict>
    </dict>
</plist>
